        html {
                position: relative;
                min-height: 100%;
            }

        body {
            padding-top: 60px;
            margin-bottom: 60px;
        }

        .starter-template {
            padding: 10px 15px;
            text-align: center;
        }

        .start-template > h1 {
            font-family: 'Pacifico', cursive;
        }

        .navbar {
            background-color: rgb(96, 0, 26);
        }

        .nav > li.active {
            background-color: rgb(96, 0, 26);
        }
        .nav > li {
            font-family: 'Dancing Script', cursive;
            font-size: 24px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        @media (max-width: 1200px) {
            .sellers {
                margin-left: 10.3333334% !important;
                margin-right: 30.333334%;
            }
            .sellers > .panel {
                width: 250px;
            }
        }
        @media (max-width: 1200px) {
            #scroller {
                left: -20px;
                top: -9px;
            }
        }

        #myCarousel img {
            max-height: 400px;
            width: auto;
            margin: 0 auto;
        }
        .navbar-brand {
            font-family: 'Abril Fatface', cursive;
            font-size: 20px;
        }
        #scroller {
            width: 720px;
            height: 170px;
            -moz-box-shadow:    inset 0 0 15px #000000;
            -webkit-box-shadow: inset 0 0 15px #000000;
            box-shadow:         inset 0 0 15px #000000;
            position: relative;
        }
.fullscreen-bg {
  position: fixed;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0px;
  overflow: hidden;
  z-index: -100;
  /*clip: rect(0px, 962px, 20000px, 0px);*/
  opacity: 0.8;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
.cartwrapper {
    width: 200px;
    clear: both;
}
.cartwrapper input {
    width: 100%;
    clear: both;
}